node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
test-results

# Node dingen
package-lock.json

# Voor als er een backup is gemaakt doe ik steeds als zip
*.zip
